/* Desktop Styles */
#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  background-color: #000;
  color: white;
  z-index: 9999;
}

#navigation-container:hover {
  width: 15%;
}

.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.relative {
  position: relative;
  z-index: 10; /* Adjust to be higher than other elements */
}

.absolute {
  position: absolute;
  z-index: 20; /* Ensure dropdown appears on top */
}
/* Mobile Styles */
.mobile-menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  #navigation-container {
    width: 0%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  #navigation-container.show-sidebar {
    width: 50%;
    transform: translateX(0);
  }

  .mobile-menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;
  }

  #navigation-container.show-sidebar .nav-item-name {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .nav-item-name {
    font-size: 1.2rem;
  }
}
